{% extends 'base.html' %}
{% block title %}Inscripciones{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Inscripciones</h2>
    <a href="{% url 'agregar_inscripcion' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Nueva Inscripción</a>
</div>
<table class="table table-hover responsive">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Estudiante</th>
            <th>Curso</th>
            <th>Fecha Inscripción</th>
            <th>Estado</th>
            <th>Nota Final</th>
            <th>Última Modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for inscripcion in inscripciones %}
        <tr>
            <td>{{ inscripcion.id_inscripcion }}</td>
            <td>{{ inscripcion.estudiante }}</td>
            <td>{{ inscripcion.curso }}</td>
            <td>{{ inscripcion.fecha_inscripcion }}</td>
            <td>{{ inscripcion.estado_inscripcion }}</td>
            <td>{{ inscripcion.nota_final }}</td>
            <td>{{ inscripcion.fecha_modificacion }}</td>
            <td>
                <a href="{% url 'actualizar_inscripcion' pk=inscripcion.id_inscripcion %}" class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></a>
                <a href="{% url 'eliminar_inscripcion' pk=inscripcion.id_inscripcion %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Borrar inscripción?');"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}