{% extends 'base.html' %}
{% block title %}Agregar Profesor{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white"><h3>Agregar Profesor</h3></div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'ver_profesores' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}